- if user_signed_in?
  %ul
    - members_rating.each do |m|
      %li<
        = image_tag m.photo, style: 'width: 50px; height: 50px'
        %span.member_name<
          = m.name
        %span.member_rating<
          = m.rating
        %span.vk_like{id: "vk_like_#{m.id}", :"data-id" => m.id, :"data-image" => m.photo}
        %span.fb_like
          %fb:like{href: "#{request.host}/members/#{m.id}", width: 450, send: "false", layout: "button_count", show_faces: "false"}
        - if current_user.members.include? m
          = "Вы уже проголосовали за этого человека"
        - else
          = link_to "Голосовать", vote_member_path(m), remote: true, method: :post, :"data-type" => :json, class: 'vote_link'
        - if can? :manage, m
          = link_to "Активировать", activate_member_path(m), remote: true, method: :post, :"data-type" => :json, class: 'activate_link'
          = link_to "Удалить", member_path(m), remote: true, method: :delete, :"data-type" => :json, class: 'destroy_link', confirm: 'Вы уверены?'
          = link_to "Добавить ссылку на другую сеть"