- content_for :sections do
  = render 'layouts/sections/main'
  = render 'layouts/sections/about'
  = render 'layouts/sections/idea'
  = #render 'layouts/sections/experts', experts: experts
  = render 'layouts/sections/orgs'
  = render 'layouts/sections/partners'