- if @member
  - content_for :meta do
    = render 'layouts/fb_metatags', member: @member

- unless user_signed_in?
  = link_to 'Login with Facebook', user_omniauth_authorize_path(:facebook)
  = link_to 'Login with Vkontakte', user_omniauth_authorize_path(:vkontakte)
- else
  %div
    = "Вы вошли как #{current_user.name}"
    = link_to 'Выйти', destroy_user_session_path
  - member = Member.new
  = form_tag members_path, remote: true, :'data-type' => :json, class: 'add_member_form' do
    = text_field_tag :social_url, nil, placeholder: 'Ссылка на соц.сеть'
    %br
    = text_area_tag :message, nil, placeholder: 'Рекомендация'
    %br

    = radio_button_tag("social_network", "vkontakte", true)
    = label_tag "Vkontakte"
    %br

    = radio_button_tag("social_network", "facebook")
    = label_tag "Facebook"
    %br
    = submit_tag 'Добавить участника'
.rating
  = render 'start/rating'