!!!
%html
  %head
    %title Foresight
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "http://vkontakte.ru/js/api/openapi.js"
    = javascript_include_tag "application"
    = csrf_meta_tags
    :javascript
      $(document).ready(function(){
        VK.init({
          apiId: #{ENV['VK_APP_ID']},
          onlyWidgets: true
        });
        initLikeButtons();
      });
  %body
    = render 'layouts/fb_sdk_init'
    = yield


