!!!
%html
  %head
    %meta{:charset => "UTF-8"}
      %title Foresight
      %script{:src => "http://html5shiv.googlecode.com/svn/trunk/html5.js"}
      %link{:href => "/assets/style.css", :rel => "stylesheet", :type => "text/css"}
      / script src="http://code.jquery.com/jquery-latest.min.js"></script
      =# javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"
      = javascript_include_tag :application
      = csrf_meta_tags
      = render 'layouts/ya_metrika'
      - unless flash["return_to"].nil?
        %script(type="text/javascript")
          var returnTo = '#{flash["return_to"]}';
  %body
    %header#header{:role => "banner"}
      .header__wrap
        #logo
          %span.sitenav__link{"data-href" => "main"}
            %img.logo__image{:alt => "Foresight", :height => "50", :src => "/assets/logo.gif", :width => "165"}/
        %nav.sitenav
          %ul.sitenav__list
            %li.sitenav__item
              %span.sitenav__link{"data-href" => "about"} Что такое Foresight?
            %li.sitenav__item
              %span.sitenav__link{"data-href" => "idea"} Идея проекта
            -# %li.sitenav__item
              %span.sitenav__link{"data-href" => "experts"} Экспертный совет
            %li.sitenav__item
              %span.sitenav__link{"data-href" => "orgs"} Организаторы
            %li.sitenav__item
              %span.sitenav__link{"data-href" => "partners"} Партнеры
            / li class="sitenav__item"><span class="sitenav__link" data-href="partners">Партнеры</span></li
            / li class="sitenav__item"><span class="sitenav__link" data-href="experts">Foresight-сообщество</span></li
        .social
          %ul.social__list
            %li.social__item
              %a.social__link.tw{:href => "https://twitter.com/braincamp1"} Твитер
            %li.social__item
              %a.social__link.vk{:href => "http://vk.com/braincamp"} Вконтакте
            -# %li.social__item
              %a.social__link.fb{:href => "#"} Фейсбук
        .signup
          - if @with_register
            - if user_signed_in?
              %span.signup__button.button{href: destroy_user_session_path, style: 'text-decoration: none'}
                = "Вы вошли как #{current_user.name}"
                = link_to "Выйти", destroy_user_session_path
    = yield :sections
    %footer#footer{:role => "contentinfo"}
      .footer__wrap
        .development
          %a{:href => "#"}
            %img{:alt => "", :src => ""}/
        .copyrights
          %p
            Проект реализуется
            %a{:href => "http://vk.com/braincamp"} инициативной группой
            на базе Управления по молодежной политике администрации города Красноярска в рамках
            %a{:href => "http://www.kmforum.ru/"} Молодежной недели КМФ
          %p Контакт-центр: +7 (391) 245-45-45
    #overlay
    = render 'layouts/popups/register'
    = render 'layouts/popups/participate'
    = render 'layouts/popups/recommend'
    = render 'layouts/popups/message'